*,
*::after {
  box-sizing: border-box;
}

.App {
  padding-block: 3rem;
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.75vmin);
  color: black;
  gap: 1rem;
  padding: 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inputsContainer {
  display: grid;
  place-content: center;
  place-items: flex-start;
}

.inputsDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.3rem;
  padding: 0.5rem;
}

.viguetasContainer {
  position: relative;
}

.viguetasContainer::after {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "→";
  font-size: 2rem;
  font-weight: bold;
}

.muroExterior {
  position: absolute;
  left: -15px;
  top: -15px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  outline: solid 2px green;
}

.anchoDeMedida {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(175%) translateX(-50%);
}
.largoDeMedida {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-150%) translateY(-50%);
}

.InformacionContainer {
  display: flex;
  flex-direction: column;
  align-self: start;
  align-items: flex-start;
}

.App-vigueta {
  margin-block: 2rem;
}
@media (max-width: 568px) {
  .App-vigueta {
    max-width: 100%;
    margin-left: -2rem;
    transform: scale(0.6);
  }

  .App-vigueta > div {
    margin: 0;
    padding: 0;
  }
}
