*,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  width: 100%;
  max-width: 100%;
  display: flex;
  padding: 2rem;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inputsContainer {
  display: grid;
  place-content: center;
  place-items: flex-start;
}

.inputsDiv {
  display: flex;
  justify-content: flex-start;
  gap: 0.3rem;
  padding: 0.5rem;
}

.viguetasContainer {
  position: relative;
}

.viguetasContainer::after {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "→";
  font-size: 2rem;
  font-weight: bold;
}

.muroExterior {
  position: absolute;
  left: -15px;
  top: -15px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  outline: solid 2px green;
}

.anchoDeMedida {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(175%) translateX(-50%);
}
.largoDeMedida {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-150%) translateY(-50%);
}

.InformacionContainer {
  display: flex;
  flex-direction: column;
  align-self: start;
  align-items: flex-start;
}

.Appvigueta {
  display: grid;
  max-width: 100%;
  margin-block: 2rem !important;
  place-content: center !important;
  place-items: center;
  padding: 2rem;
}

.tipoDeBovedillaInformacion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.InformacionMaterialContainer {
  text-align: start;
}

@media (max-width: 568px) {
  body {
    width: 100vw;
    display: flex;
    place-content: center;
    place-items: center;
  }
  .App-header {
    display: grid;
  }
  .Appvigueta {
    max-width: 90%;
    transform-origin: right;
    place-content: start !important;
  }
}
