*,
*::after {
  box-sizing: border-box;
}
:root {
  --escala: 0.5;
  --izquierda: 0;
  --top: 0;
  --vigueta-container-ancho: 0;
  --vigueta-container-largo: 0;
  --margenTop: 0;
  --largoDeVigueta: 0;
  --distanciaEntreViguetas: 0;
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  position: relative;
}

.App {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  width: 100%;
  display: flex;
  padding: 2rem;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  gap: 10%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inputsContainer {
  display: grid;
  place-content: center;
  place-items: center;
}

.inputsDiv {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 0.3rem;
  padding: 0.5rem;
}

.labelInput {
  width: 50%;
}

.viguetasContainer {
  width: var(--vigueta-container-ancho);
  height: var(--vigueta-container-largo);
  border: 1px solid black;
  position: relative;
  display: flex;
  transform: scale(var(--escala)) translateY(var(--izquierda))
    translateX(var(--top)) !important;
}

.viguetasContainer::after {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "→";
  font-size: 2rem;
  font-weight: bold;
}

.muroExterior {
  position: absolute;
  left: -15px;
  top: -15px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  border: solid 2px green;
}

.viguetaInicial {
  width: 12px;
  min-width: 12px;
  max-width: 12px;
  height: var(--largoDeVigueta);
  border: 1px solid red;
  display: grid;
  place-items: center;
  font-size: 14px;
  margin-left: 0;
  margin-top: var(--margenTop);
}

.viguetasComunes {
  width: 12px;
  min-width: 12px;
  max-width: 12px;
  outline: solid 1px red;

  height: var(--largoDeVigueta);
  border: 1px solid red;
  display: grid;
  place-items: center;
  font-size: 14px;
  margin-left: var(--distanciaEntreViguetas);
  margin-top: var(--margenTop);
  font-weight: bold;
}

.anchoDeMedida {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(250%) translateX(-50%);
}
.largoDeMedida {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-180%) translateY(-50%);
}

.InformacionContainer {
  display: flex;
  flex-direction: column;
  align-self: start;
  align-items: center;
  gap: 0.5rem;
}

.Appvigueta {
  display: grid;
  min-width: 90%;
  min-height: 100vh;
  margin-inline: 0;
  place-content: center !important;
  place-items: center;
  position: relative;
}

.Appvigueta::after {
  outline: solid 1px black;
  position: absolute;
  width: 60vw;
  height: 75vh;
  content: " ";
}

.tipoDeBovedillaInformacion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.InformacionMaterialContainer {
  text-align: start;
  padding: 1rem;
  width: 75%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.controlesDePlanoContainer {
  width: 100vw;
  padding: 2rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: min(5rem, 15vw);
}

.sliderContainer {
  display: flex;
  flex-direction: column;
}
.botonesContainer {
  max-width: 8rem;
  z-index: 5 !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.botonesParaCrearPlano {
  display: flex;
  margin: 0 auto;
  width: min(75vw, 20rem);
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 815px) {
  .App-header {
    display: grid;
    gap: 2rem;
    place-content: center;
    place-items: center;
  }
  .Appvigueta {
    max-width: 90%;
    transform-origin: right top;
  }
  .Appvigueta::after {
    outline: none !important;
  }
  .botonesParaCrearPlano {
    display: none;
  }
}
